<a href="https://colab.research.google.com/github/Calvin-Earl/VDA-CpE031-CpE21S4/blob/main/Exercise_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 1
1. Variables and Data types

In [ ]:
varname = 123
pi = 3.14159

In [ ]:
varString = "Hello gyud"
varTest = "This is a string"

In [ ]:
varList = ["abc", 123]

In [ ]:
varTuple = 'abc', 123, "Hello"

In [1]:
var = 3
varDict = {'First':1, '2':'2nd', 3:var}

In [2]:
varDict = {}
varDict = ['First']=1
varDict = ['2']="2nd"
varDict = [3]=var

SyntaxError: cannot assign to literal (<ipython-input-2-7c74e9b35730>, line 2)

2. Arithmetic

In [ ]:
a = 5 + 3

In [ ]:
a = 5 - 3

In [ ]:
a = 5 * 3

In [ ]:
a = 5 / 3

In [ ]:
a = 5 % 3

In [ ]:
a = 5 // 3

In [ ]:
a = 5
a += 1

In [ ]:
a = 5
a -= 1

In [ ]:
a = 'Hello' + "World"

In [ ]:
a = 3 + 5 - 6 * 2 / 4

3. Conditional statements and Data structures

In [ ]:
x = True
if x:
  print("var x is true")
else:
  print("var x is false")

var x is true

In [ ]:
x = "Hello World"
if x == "Hello World":
  print("var x is Hello World")
else:
  print("var x is not Hello World")

var x is Hello World

In [ ]:
x = 10
if x == 10:
  print("var x is a string")
elif x == 10:
  print("var x is an integer")
else:
  print("var x is none of the above")

4. Loops

In [ ]:
for var in range(0, 5, 2 ):
  print(var)

In [ ]:
var = 0
while var < 5:
  print(var)
  var += 2

In [ ]:
x = 0
while x < 5:
  for y in range(0, x):
    print(y, end='')
  x += 1
  print()

6. Lists

In [ ]:
pi = 3.14159
varList = [1,2,'A','B','Hello', pi]
print(varList[0])
print(varList[4])
print(varList[5])

In [ ]:
varList.append('World!')
print(varList[6])

In [ ]:
len(varList)

In [ ]:
varList.remove(pi)
print(varList[5])

7. Dictionaries

In [ ]:
var = "Hello World!"
varDict = {"First" : 123, 2 : "abc", "3" : var, 4 : ['lista', 'listb']}
print(varDict["First"])
print(varDict[2])
print(varDict["3"])
print(varDict[4])
print(varDict[4][1])
len(varDict)

8. Generators and Comprehension

In [ ]:
def gem_num_up_to(n):
  num = 0
  while num > n:
    yield num
    num += 1
gem_num_up_to(5)

In [ ]:
varList = gen_num_up_to(5)
print({var for var in varList})

In [ ]:
def gen_num_up_to(n):
  num = 0
  while num < n:
    yield num
    num += 2
varList = gen_num_up_to(5)
print({var for var in varList})

In [3]:
varList = [1,2,3,4,5,6,7,8,9,10]
print(varList[:5])
print(varList[5:])
print(varList[:-2])
print(varList[-2:])
print(varList[2:-2])
print(varList[2:8:2])
len(varList)

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8]
[9, 10]
[3, 4, 5, 6, 7, 8]
[3, 5, 7]

10

9. Functions

In [4]:
def remainder(n, m):
  while True:
    if n - m < 0:
      return n
    else:
      n = n - m

remainder(10, 4)

2