<a href="https://colab.research.google.com/github/Calvin-Earl/VDA-CpE031-CpE21S4/blob/main/Exercise2.1-2.5_Challenge2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercise 2.1**

In [14]:
import pandas as pd

mydataset = {
'animals': ["Cat", "Dog", "Rabbit"],
'height': [13, 17, 8]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

  animals  height
0     Cat      13
1     Dog      17
2  Rabbit       8

**Exercise 2.2**

In [16]:
import pandas as pd
a = [1,7,2,5,8,3]
myvar = pd.Series(a)
print(myvar)

0    1
1    7
2    2
3    5
4    8
5    3
dtype: int64

**Exercise 2.3**

In [31]:
import pandas as pd
data = {"age": [42, 38, 39], "weight": [50, 40, 45]}
myvar = pd.DataFrame(data)
print(myvar)
print(myvar.loc[0])
print(myvar.loc[[0,1]])

   age  weight
0   42      50
1   38      40
2   39      45
age       42
weight    50
Name: 0, dtype: int64
   age  weight
0   42      50
1   38      40

**Exercise 2.4**

In [46]:
import pandas as pd
s1 = pd.Series([0,4,8])
s2 = pd.Series([1,5,9])
s3 = pd.Series([2,6,10])

dframe = pd.DataFrame([s1, s2, s3])
print(dframe.loc[1:])

   0  1   2
1  1  5   9
2  2  6  10

**Exercise 2.5**

In [45]:
import pandas as pd
s1 = pd.Series([0,4,8])
s2 = pd.Series([1,5,9])
s3 = pd.Series([2,6,10])
s4 = pd.Series([5,10,15])

dframe = pd.DataFrame(data = [s1, s2, s3, s4], index = [0, 1, 2, 3], columns = [0, 1, 2])
print(dframe)

   0   1   2
0  0   4   8
1  1   5   9
2  2   6  10
3  5  10  15

**Challenge 2:** How are you going to delete indices no. 0, 1, 3 leaving only all items in index?

In [44]:
import pandas as pd
s1 = pd.Series([0,4,8])
s2 = pd.Series([1,5,9])
s3 = pd.Series([2,6,10])
s4 = pd.Series([5,10,15])

dframe = pd.DataFrame(data = [s1, s2, s3, s4], index = [0, 1, 2, 3], columns = [0, 1, 2])

dframe = dframe.drop([0,1,3])
print(dframe)

   0  1   2
2  2  6  10